################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIMD-Program/SIMD-Program.vcxproj
/SIMD-Program/SIMD-Program.vcxproj.filters
